[submodule "posts-en"]
	path = posts-en
	url = git@github.com:realbronoh/realbrolog-posts-en.git
	branch = main
[submodule "posts-ko"]
	path = posts-ko
	url = git@github.com:realbronoh/realbrolog-posts-ko.git
	branch = main
