{{- $title := .Title -}}
{{- if .IsHome -}}
  {{- $title = .Site.Title -}}
{{- else -}}
  {{- $title = printf "%s — %s" .Title .Site.Title -}}
{{- end -}}
{{- $description := .Description -}}
{{- if not $description -}}
  {{- $description = .Summary -}}
{{- end -}}
{{- if not $description -}}
  {{- $description = .Site.Params.description -}}
{{- end -}}
<title>{{ $title }}</title>
<meta name="description" content="{{ $description | plainify }}">
<link rel="canonical" href="{{ .Permalink }}">

<meta property="og:title" content="{{ $title }}">
<meta property="og:description" content="{{ $description | plainify }}">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:locale" content="{{ .Site.Language.Lang }}">
{{ with .Params.image }}
<meta property="og:image" content="{{ . | absURL }}">
{{ end }}
